* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat";
  font-size: 12px;
  overflow: hidden;
  overflow-y: scroll;
  color: #69c8ff;
  --light: #e6f03a;
  --light: #eee;
  --dark: #161616;
  background-image: url(XzZg.gif);
}

.wrapper {
  background-size: cover;
  height: 100vh;
  position: relative;
  z-index: 2;
}
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
}
.logo {
  font-size: 40px;
  color: white;
}
.menu-links ul li {
  color: white;
  display: inline-block;
  padding-right: 20px;
}
.carousel-container {
  transition: transform 0.5s ease-in-out;
}


.contents {
  position: absolute;
  top: 46%;
  left: 39%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  z-index: -1;
  width: 100vh;
}
.title {
  flex: 0 0 100%;
  font-size: 180px;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
}

.tagline {
  flex: 1;
  font-size: 27px;
  color: #a4a4a4;
  padding-top: 65px;
}
.ends {
  min-height: 50vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  font-weight: bold;
}
main {
  display: flex;
  flex-direction: column;
}
.slides {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  z-index: 1;
}
.slides .list {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.slides .slide {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.slide .background {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-position: center;
  will-change: transform;
  background-size: cover;
}

.slide .content {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  display: flex;
  text-align: center;
  width: 95%;
  padding: 3rem;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 40rem;
  position: relative;
  align-items: center;
  color: white;
  text-transform: uppercase;
  font-size: 4.6rem;
  line-height: 1.25em;
  font-weight: 800;
  z-index: 3;

}

/* Register button */
/* .register{
  color: #000000e4;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-image: linear-gradient(to right, #38a2d0, #e8f1f0);
  border:none;
  font-weight: bold;
  border-radius: 50px;
  width: 250px;
  height: 50px;
  cursor: pointer;
  box-shadow: 0px 0px 15px 5px rgba(90, 241, 246, 0.234);
  transition: all 0.3s ease;
  margin-left:265px;
  font-size: 20px;
  z-index: 1;
} */
.register {
  color: rgb(15, 75, 205);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgb(67, 157, 231);
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin: 0 10px;
  width: 200px;
  padding: 20px 5px;
  box-shadow: 0 0 20px rgba(0, 162, 255, 0.6);
  transition: 0.4s;
  margin-left: 450px;
  margin-top: 80px;
  font-size: 16px;
}

.register:hover {
  color: white;
  box-shadow: 0 0 20px rgba(0, 162, 255, 0.6);
  background-color: #2e8bc0;
}

/* Session Boxes */
.session-boxes {
  position: relative;
}

.session-box {
  position: absolute;
  top: 20%;
  transform: translateY(10%);
  z-index: 2;
  width: 40%;
  padding: 70px;
}
/*Session 1*/
.session-box h2 {
  cursor: pointer;
  font-size: 50px;
  margin-bottom: 52px;
}
/*Session 2*/
.session-box h3 {
  cursor: pointer;
  font-size: 50px;
  padding-left: 80px;
  margin-bottom: 52px;
  margin-left: -100px;
}

/*Info bout session 1*/
.session-box p1 {
  font-size: 25px;
  text-align: auto;
}
/*Info bout session 2*/
.session-box p2 {
  font-size: 25px;
  text-align: left;
}
.session-1 {
  color: white;
  padding-left: 64px;
}

.session-2 {
  color: white;
  padding-left: 850px;
}
.registration-div > span {
  position: absolute;
  display: block;
  text-align: center;
  font-size: 50px;
  z-index: 2;
  width: 50%;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--light);
  top: calc(50vh - 56px);
}

.box {
  height: 1.1vh;
  width: 50vw;
  margin-bottom: -0.2vh;
  background-color: #46015fa9;
  display: block;
}

/* Speaker Details */
.ends2 {
  min-height: 40vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  font-weight: bold;
}


.column{
  flex: 50%;
}

.column2{
  padding-top: 60px;
}

/* Clear floats after the columns */
.speaker {
  display: flex;
}

.speaker-image{
  position: absolute;
  z-index: 2;
  padding-top: 95px;
  height: 450px;
}

.shape{
  width: 700px;
  position: relative;
  z-index: 1;
}

.our-speaker{
  padding: 120px 60px 40px 60px;
  font-size: 70px;
}

.speaker-detail{
  color: white;
  font-size: 25px;
  text-align: justify;
  padding: 0px 60px;
}


/* Footer Styles */
p,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  transition: 200ms;
}

a {
  color: #ced9bf;
}

a:hover {
  opacity: 0.7;
}

body {
  margin: 0;
}

/* Footer Styles */
.footer {
  height: auto;
  background-color: none;
  min-width: 280px;
  overflow: hidden; /* Hide content overflow */
}

/* Contact Section Styles */
.contact-wrapper {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  overflow: hidden; /* Hide content overflow */
}

.contact-div {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 60%;
  max-width: 800px;
  background-color: #ffffffcb;
  border-radius: 25px;
  margin: 20px;
  padding: 20px;

  > div {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    margin-top: 15px;
  }

  > div:first-child {
    align-items: center;
    justify-content: center;
    font-size: 24px;
  }

  > div:last-child {
    > div {
      flex: 1;
      text-align: center;

      > img {
        margin-bottom: 10px;
        max-width: 100px;
        max-height: 100px;
      }

      a {
        padding-top: 10px;
        display: block;
        color: rgb(0, 32, 78);
        font-size: 17px;
      }

      > p {
        font-size: 19px;
      }
    }
  }
}

/* Info Section Styles */
.info-wrapper {
  height: 30vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffffcb;
  padding-top: 50px;
  padding-bottom: 100px;
  overflow: hidden; /* Hide content overflow */

  > div {
    height: inherit;
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;

    > p:first-child {
      font-weight: 900;
      padding-bottom: 15px;
    }

    > a {
      font-size: small;
      display: block;
      padding-bottom: 5px;
      color: blue;
    }
  }

  > div:first-child {
    transform: scale(1.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
  }

  .brand-logo {
    max-width: 350px;
  }
}

/* Credits Section Styles */
.credits-div {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Hide content overflow */

  .divider-line {
    height: 1px;
    width: 80%;
    background-color: white;
    margin: 10px 0;
  }

  > p {
    padding-left: 10px;
    color: white;
  }
}

/* Media Queries for Responsive Design */
@media only screen and (max-width: 768px) {
  .contact-div {
    width: 90%;
  }

  .info-wrapper {
    padding: 10px;
  }
}
