* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat";
  font-size: 12px;
  overflow: hidden;
  overflow-y: scroll;
  color: #2e8bc0;
  --light: #e6f03a;
  --light: #eee;
  --dark: #161616;
}

.wrapper {
  background-image: url(dominik-schroder-FIKD9t5_5zQ-unsplash.jpg);
  background-size: cover;
  height: 100vh;
  position: relative;
  z-index: -2;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

.logo {
  font-size: 40px;
}

.menu-links ul li {
  display: inline-block;
  padding-right: 20px;
}

.contents {
  position: absolute;
  top: 46%;
  left: 52%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  z-index: -1;
  width: 100vh;
}

.title {
  flex: 0 0 100%;
  font-size: 200px;
  text-transform: uppercase;
  font-weight: 700;
}

.tagline {
  flex: 1;
  font-size: 30px;
  color: #000;
  padding-top: 40px;
}

.ends {
  min-height: 50vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  font-weight: bold;
}
main {
  display: flex;
  flex-direction: column;
}

.slides {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  z-index: 1;
}
.slides .list {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.slides .slide {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.slide .background {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-position: center;
  will-change: transform;
  background-size: cover;
}

.slide .content {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  display: flex;
  text-align: center;
  width: 95%;
  padding: 3rem;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 40rem;
  position: relative;
  align-items: center;
  color: white;
  text-transform: uppercase;
  font-size: 4.6rem;
  line-height: 1.25em;
  font-weight: 500;
  z-index: 3;
}

.registration-div > section {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: var(--light);
}

.registration-div > span {
  position: absolute;
  display: block;
  text-align: center;
  font-size: 50px;
  z-index: 2;
  width: 50%;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--light);
  top: calc(50vh - 56px);

  &.up {
    right: 0;
  }

  &.down {
    left: 0;
  }
}

.box {
  height: 1.2vh;
  width: 50vw;
  margin-bottom: -0.2vh;
  background: var(--dark);
  display: block;
}
